{% extends 'base.html.twig' %}

{% block title %}Information du produit{% endblock %}

{% block body %}
    <h1>Information du {{ produits.name }}</h1>
    <img src="{{ produits.image }}" alt="{{ produits.name }}">
    <p>Prix: {{ produits.prix }} €</p>
    <p>Stock: {{ produits.stock }}</p>
    <p>Description: {{ produits.description }}</p>

    <form action="{{ path('ajouter_au_panier', {'id': produits.id}) }}" method="post">
        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
    </form>

<h2>Autres produits de la même catégorie</h2>
<ul>
    {% for produit in produits.categorie.produits %}
        {% if produit.id != produits.id %}
            <li>
                <a href="{{ path('produit_app', {'id': produit.id}) }}">{{ produit.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
