{% extends 'base.html.twig' %}

{% block title %}Liste de produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            margin-top: 0;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        a:hover {
            color: #0056b3;
        }
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #0056b3;
        }
        form {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des produits de la {{ categorie.name }}</h1>
    <div>
        <ul>
            {% for produit in produits %}
                <li>
                    <a href="{{ path('produit_app', {'id': produit.id}) }}">
                        {{ produit.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <form method="post" action="{{ path('categorie_app', {'id': categorie.id}) }}">
        <button type="submit" name="sort" value="desc">Trier du plus cher au moins cher</button>
    </form>

    <form method="post" action="{{ path('categorie_app', {'id': categorie.id}) }}">
        <button type="submit" name="sort" value="asc">Trier du moins cher au plus cher</button>
    </form>
{% endblock %}
